@import "src/baseStyles/variables";

.footer {
  flex: 0 0 auto;
  background: linear-gradient(180deg, #020202 0%, #01000D 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(11.5px);
  padding: 12px 0;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__copy, &__link {
      color: $color-yellow;
    }
  }
}