@import "src/baseStyles/variables";

.search {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;

  &__input {
    flex-grow: 1;
    height: 100%;
    margin-right: 20px;
    border: none;
    border-radius: 8px;
    padding: 4px 12px;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border: 2px solid $color-yellow;
    }
  }

  &__btn {
    width: 15%;
    max-width: 100px;
    height: 100%;
    background-color: $color-yellow;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;

    &:hover {
      opacity: .6;
    }
  }
}