@import "src/baseStyles/smart-grid";
@import "src/baseStyles/variables";

.card {
  @include col();
  @include size(3);
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;

  &__img {
    background: linear-gradient(90.53deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(102, 80, 165, 0.75) 105.51%);
    overflow: hidden;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;

    img {
      height: 100%;
      width: 100%;
      filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.36));
      object-fit: cover;
    }
  }

  &__content {
    height: 20%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding: 6px;

    &--title {
      margin: 6px 0;
      font-weight: 700;
      font-size: 18px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &--description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: auto;

      span:nth-child(1) {
        color: $color-yellow;
      }
    }
  }
}